@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

html, body {
    height: 100%;
    margin:0;
    padding:0;
    font-family: "Roboto", helvetica, arial, sans-serif;
    color:white;
    
}
#background{
    height:100%;
    width:100%;
    position:fixed;
    background: rgb(84,84,84);
    background: -moz-linear-gradient(45deg, #aaaaaa 2%, #dddddd 100%);
    background: -webkit-linear-gradient(45deg, #aaaaaa 2%,#dddddd 100%);
    background: linear-gradient(45deg, #aaaaaa 2%,#dddddd 100%);
    z-index: -1;
}
h1{
    padding:0.4em 20em;
    margin:0;
    text-align: center;
    background: rgba(0,0,0, 0.4);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}
#filters{
    background: rgba(0,0,0, 0.4);
    width:25%;
    height: -webkit-calc(100% - 4em);
    height:    -moz-calc(100% - 4em);
    height:         calc(100% - 4em);
    
}
#chartdiv {
    float:right;
    height: 90%;
    margin-top:2em;
}

.hasSidebar{
    width: -webkit-calc(100% - 30em);
    width:    -moz-calc(100% - 30em);
    width:         calc(100% - 30em);
}
.fullWidth{
    width:100%;
}

button{
    background:rgba(0,0,0, 0.3);
    color:white;
    border:none;
}
button:hover{
    background:rgba(0,0,0, 0.1);
}

tr:hover{
    background:rgba(0,0,0, 0.2);
}

#sbtoggle{
    position:absolute;
    top:0.5em;
    left:0.5em;
    padding:0.4em;
    font-size:1.2em;
    width:24em;
}

#controls{
    width:100%;
    display: flex;
    flex-direction: row;
}
#filters button{
    flex-grow: 1;
    height:2em;
    font-size: 1em;
}

#filters {
    width:30em;
    display: flex;
    flex-direction: column;
}
#toggles {
    flex-grow: 1;
    width:100%;
}

th div{
    font-weight: bold;
    cursor: default;
}

/*Row numbers in table*/
table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    padding:0.3em 0 0.3em 0.3em;
}



@media only screen and (max-width: 800px) {
    .hasSidebar, #filters{
        width:100%;
    }
    #sbtoggle{
        display:none;
    }
    h1{
        padding:0.1em;
    }
}