html, body {
    height: 100%;
}
h1{
    padding:0.2em;
    margin:0;
    margin-bottom: 0.5em;
    text-align: center;
    background: #e8e8e8;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}
#filters{
    background: #e8e8e8;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    width:25%;
    height:90%;
}
#chartdiv {
    float:right;
    height: 90%;
}

.hasSidebar{
    width: -webkit-calc(100% - 30em);
    width:    -moz-calc(100% - 30em);
    width:         calc(100% - 30em);
}
.fullWidth{
    width:100%;
}

#sbtoggle{
    position:absolute;
    top:1em;
    left:1em;
}

#controls{
    width:100%;
    display: flex;
    flex-direction: row;
}
button{
    flex-grow: 1;
    height:2em;
    font-size: 1em;
}

#filters {
    width:30em;
    display: flex;
    flex-direction: column;
}
#toggles {
    flex-grow: 1;
    width:100%;
}

th div{
    color:#666666;
    font-weight: bold;
    cursor: default;
}

/*Row numbers in table*/
table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    padding:0.3em 0 0.3em 0.3em;
}



@media (max-width: 60em) {
    .hasSidebar{
        width:100%;
    }
    #sbtoggle{
        display:none;
    }
}